# Package Files #
*.jar
*.war

# Eclipse
.settings/
.project

.checkstyle

*.iml
.idea**

# Java
.classpath
*.class
.classpath
bin/
META-INF/

# GWT
.gwt
gwt-unitCache
www-test

/ExpresionesLibresTest-dev.launch
/ExpresionesLibresTest-prod.launch

target/
.gwt/
.settings/
bin/



# Logs
*.log
*.log.*
